[submodule "example-selenium-java-basic"]
	path = example-selenium-java-basic
	url = https://github.com/applitools/example-selenium-java-basic.git
[submodule "example-selenium-javascript-jest"]
	path = example-selenium-javascript-jest
	url = https://github.com/applitools/example-selenium-javascript-jest.git
[submodule "tutorial-selenium-ruby-ultrafastgrid"]
	path = tutorial-selenium-ruby-ultrafastgrid
	url = https://github.com/applitools/tutorial-selenium-ruby-ultrafastgrid.git
[submodule "example-selenium-csharp-mstest"]
	path = example-selenium-csharp-mstest
	url = https://github.com/applitools/example-selenium-csharp-mstest.git
[submodule "example-selenium-python-pytest"]
	path = example-selenium-python-pytest
	url = https://github.com/applitools/example-selenium-python-pytest.git
[submodule "example-eyes-playwright-fixture"]
	path = example-eyes-playwright-fixture
	url = https://github.com/applitools/example-eyes-playwright-fixture.git
[submodule "example-playwright-java"]
	path = example-playwright-java
	url = https://github.com/applitools/example-playwright-java.git
[submodule "example-playwright-python"]
	path = example-playwright-python
	url = https://github.com/applitools/example-playwright-python.git
[submodule "example-playwright-typescript"]
	path = example-playwright-typescript
	url = https://github.com/applitools/example-playwright-typescript.git
[submodule "example-playwright-csharp"]
	path = example-playwright-csharp
	url = https://github.com/applitools/example-playwright-csharp.git
[submodule "example-cypress-javascript"]
	path = example-cypress-javascript
	url = https://github.com/applitools/example-cypress-javascript.git
[submodule "tutorial-testcafe"]
	path = tutorial-testcafe
	url = https://github.com/applitools/tutorial-testcafe.git
[submodule "example-webdriverio-javascript"]
	path = example-webdriverio-javascript
	url = https://github.com/applitools/example-webdriverio-javascript.git
[submodule "example-robot-framework"]
	path = example-robot-framework
	url = https://github.com/applitools/example-robot-framework.git
[submodule "example-puppeteer-javascript"]
	path = example-puppeteer-javascript
	url = https://github.com/applitools/example-puppeteer-javascript.git
[submodule "tutorial-storybook-csf-react"]
	path = tutorial-storybook-csf-react
	url = https://github.com/applitools/tutorial-storybook-csf-react.git
